<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="registration.css" />
    <title>User Info Form</title>
  </head>
  <body>
    <div class="container">
      <section class="side-nav">img</section>
      <section class="auth--section">
        <form class="auth--form">
          <h1 class="auth--title">User Info Form</h1>
          <div>
            <input
              class="auth--input"
              type="text"
              id="name"
              name="name"
              placeholder="Full Name"
              required
            />
            <label for="name" class="auth--label">Full Name</label>
          </div>

          <input
            class="auth--input"
            type="text"
            id="user"
            name="user"
            placeholder="User ID"
            required
          />
          <label for="user" class="auth--label">User ID</label>

          <input
            class="auth--input"
            type="text"
            id="dobMonth"
            name="dobMonth"
            placeholder="DOB Month"
          />
          <label for="dobMonth" class="auth--label">DOB Month</label>

          <input
            class="auth--input"
            type="text"
            id="dobDay"
            name="dobDay"
            placeholder="DOB Date"
            required
          />
          <label for="dobDay" class="auth--label">DOB Date</label>

          <input
            class="auth--input"
            type="text"
            id="dobYear"
            name="dobYear"
            placeholder="DOB Date"
            required
          />
          <label for="dobYear" class="auth--label">DOB Date</label>

          <input
            class="auth--input"
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            placeholder="Phone Number"
            required
          />
          <label for="phoneNumber" class="auth--label">Phone Number</label>

          <input
            class="auth--input"
            type="text"
            id="age"
            name="age"
            placeholder="Age"
            required
          />
          <label for="age" class="auth--label">Age</label>

          <input
            class="auth--input"
            type="text"
            id="gender"
            name="gender"
            placeholder="gender"
            required
          />
          <label for="gender" class="auth--label">Gender</label>

          <input
            class="auth--input"
            type="text"
            id="familyName"
            name="familyName"
            placeholder="Family Name"
            required
          />
          <label for="familyName" class="auth--label">Family Name</label>

          <input
            class="auth--input"
            type="text"
            id="firstName"
            name="firstName"
            placeholder="First Name"
            required
          />
          <label for="firstName" class="auth--label">First Name</label>

          <input
            class="auth--input"
            type="text"
            id="spouse"
            name="spouse"
            placeholder="Spouse"
            required
          />
          <label for="spouse" class="auth--label">Spouse</label>

          <input
            class="auth--input"
            type="text"
            id="mother"
            name="mother"
            placeholder="Mother"
            required
          />
          <label for="mother" class="auth--label">Mother</label>

          <input
            class="auth--input"
            type="text"
            id="father"
            name="father"
            placeholder="Father"
            required
          />
          <label for="father" class="auth--label">Father</label>

          <input
            class="auth--input"
            type="text"
            id="siblings"
            name="siblings"
            placeholder="Siblings"
            required
          />
          <label for="siblings" class="auth--label">Siblings</label>

          <input
            class="auth--input"
            type="text"
            id="town"
            name="town"
            placeholder="Town"
            required
          />
          <label for="town" class="auth--label">Town</label>

          <input
            class="auth--input"
            type="text"
            id="city"
            name="city"
            placeholder="City"
            required
          />
          <label for="city" class="auth--label">City</label>

          <input
            class="auth--input"
            type="text"
            id="province"
            name="province"
            placeholder="Province"
            required
          />
          <label for="Province" class="auth--label">Province</label>

          <input
            class="auth--input"
            type="text"
            id="occupation"
            name="ouccupation"
            placeholder="Occupation"
            required
          />
          <label for="ouccupation" class="auth--label">Occupation</label>

          <input
            class="auth--input"
            type="text"
            id="occupationYears"
            name="occupationYears"
            placeholder="Occupation Years"
            required
          />
          <label for="occupationYears" class="auth--label"
            >Occupation Years</label
          >

          <input
            class="auth--input"
            type="text"
            id="reference1"
            name="reference1"
            placeholder="Reference"
            required
          />
          <label for="reference1" class="auth--label">Reference</label>

          <button class="btn auth--btn" type="submit">Submit</button>
          <span>Forgot Password?</span>
          <span>Already have an account? Log in <a href="/login">Here</a></span>
        </form>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="js/userInfo.js"></script>
  </body>
</html>
